NODE_ENV=development
PORT=8085
LOG_NAME=hive-graph
LOG_LEVEL=debug
# The number of seconds that each request will last in storage
THROTTLE_TTL=60
# The maximum number of requests within the TTL limit
THROTTLE_LIMIT=20
GRAPHQL_DEBUG=true
GRAPHQL_PLAYGROUND=true
LEGACY_LCD_URL=https://tequila-lcd.terra.dev
LEGACY_CHAIN_ID=tequila-0004
LEGACY_LCD_MAX_HEIGHT=5330000
LCD_URL=https://bombay-lcd.terra.dev
CHAIN_ID=bombay-9